/* color palette from <https://github.com/vuejs/theme> */
:root {
    --color-background: #121212;
    --color-text: #FFFFFF;
    --color-placeholder: #AAAAAA;

    --purple: #7D1CFE;
    --blue: #176AFA;
    --green: #01D393;

    --gradient: linear-gradient(90deg, var(--purple), var(--blue), var(--green));

    --icon-size: 48px;
    --image-size: 250px;
}
